doctype html

html(lang='EN-AU')
    head
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible' content='IE=edge' )
        meta( name='description' content='Javascript accordion that opens one at a time' )
        meta( name='author' content='Julian Low' )
        meta( name='viewport' content='width=device-width, initial-scale=1' )
        title Pique
        link( rel='stylesheet' href='dist/style.css' )
        link( href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css' )

    body
        .container
            .layout
            
                .intro
                    h1 Accordingly
                    p an accordion that opens one at a time with transitionend.
            
                .accordion-container
                
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 1
                        
                        .accordion-panel-content.panel-1
                            .content-container
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut erat nibh. 
                                    | Etiam gravida malesuada lectus, eget egestas odio finibus vitae. Duis iaculis justo 
                                    | tempor sem consectetur, quis convallis mauris tincidunt. Praesent sed quam quam. 
                                    | Duis malesuada vulputate congue. Pellentesque quis sem egestas, mollis purus nec,
                                    | hendrerit mauris. Phasellus malesuada vestibulum urna ut condimentum. Morbi et 
                                    | diam nec elit vulputate lobortis vel vel orci. Vestibulum in tellus nec mi pulvinar 
                                    | porta vitae ut massa.
                                    
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 2
                        
                        .accordion-panel-content.panel-2
                            .content-container
                                p Nullam eget pharetra metus. Maecenas at mauris interdum, iaculis mi vitae, vestibulum
                                    | arcu. Sed pellentesque lorem finibus blandit tristique. Quisque eget commodo dolor. 
                                    | Donec eget elit hendrerit, iaculis est facilisis, blandit turpis. Aliquam egestas eu 
                                    | nisi vel consequat. Sed tempus, arcu vitae molestie sodales, metus urna congue lectus, 
                                    | vel scelerisque dui sapien nec velit.
                                    
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 3
                        
                        .accordion-panel-content.panel-3
                            .content-container
                                p Integer sit amet odio congue quam lacinia fermentum. Donec interdum ornare semper. 
                                    | Cras venenatis sem vitae ipsum sagittis mattis. Vestibulum maximus aliquam neque in 
                                    | cursus. Curabitur ut leo id sapien auctor interdum. Duis vel commodo ante. Suspendisse 
                                    | eu risus neque. Duis sit amet luctus enim, eget maximus lectus.
                                    
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 4
                        
                        .accordion-panel-content.panel-4
                            .content-container
                                p Donec gravida molestie libero. Mauris rhoncus elit vitae aliquam congue. Morbi libero 
                                    | tellus, feugiat a ipsum vitae, ultricies facilisis sapien. Cras sagittis ipsum dui, nec 
                                    | rhoncus nibh lobortis a. Proin volutpat, nulla sed vulputate aliquam, sapien ligula cursus 
                                    | tellus, vitae vehicula felis dolor et nisl. Phasellus consectetur non tortor quis ultrices. 
                                    | Suspendisse tellus sem, fringilla at sem quis, ultricies vulputate risus. Etiam et malesuada 
                                    | urna, quis placerat est. Quisque sem turpis, porttitor nec pharetra vitae, posuere eu elit. 
                                    | Pellentesque placerat sagittis nulla non sodales. Sed facilisis rutrum rhoncus. Phasellus 
                                    | ex ligula, ultrices quis facilisis ac, suscipit eget leo.
                                    
                                    
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 5
                        
                        .accordion-panel-content.panel-5
                            .content-container
                                p Aenean sodales, mi quis bibendum molestie, lorem enim volutpat dui, ut imperdiet nisi 
                                    | ante vitae erat. Suspendisse condimentum, magna at faucibus luctus, ligula ante gravida 
                                    | libero, vitae aliquet lacus urna et erat. Sed auctor iaculis risus. Fusce pretium dolor sem,
                                    | sed semper diam maximus quis. Aliquam augue leo, facilisis non orci at, convallis congue 
                                    | leo. Phasellus aliquet diam vitae dui cursus, eget bibendum orci tincidunt. Maecenas 
                                    | non porttitor erat. Donec ultricies ex fermentum odio pulvinar dapibus.
                                    
        script(src='dist/scripts.js')
