doctype html

html
    head
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible' content='IE=edge' )
        meta( name='description' content='Accordion Fun' )
        meta( name='author' content='Julian Low' )
        meta( name='viewport' content='width=device-width, initial-scale=1' )
        title Accordion
        link( rel='stylesheet' href='dist/style.css' )
        line( href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css' )

    body
        .container
            .layout
                .accordion-container
                
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 1
                        
                        .accordion-panel-content.panel-1
                            .content-container
                                p Do you see any Teletubbies in here? Do you see a slender plastic tag
                                    | clipped to my shirt with my name printed on it? Do you see a 
                                    | little Asian child with a blank expression on his face sitting 
                                    | outside on a mechanical helicopter that shakes when you put quarters
                                    | in it? No? Well, that's what you see at a toy store. And you must
                                    | think you're in a toy store, because you're here shopping 
                                    |for an infant named Jeb.
                                    
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 2
                        
                        .accordion-panel-content.panel-2
                            .content-container
                                p Do you see any Teletubbies in here? Do you see a slender plastic tag
                                    | clipped to my shirt with my name printed on it? Do you see a 
                                    | little Asian child with a blank expression on his face sitting 
                                    | outside on a mechanical helicopter that shakes when you put quarters
                                    | in it? No? Well, that's what you see at a toy store. And you must
                                    | think you're in a toy store, because you're here shopping 
                                    |for an infant named Jeb.
                                    | clipped to my shirt with my name printed on it? Do you see a 
                                    | little Asian child with a blank expression on his face sitting 
                                    | outside on a mechanical helicopter that shakes when you put quarters
                                    | in it? No? Well, that's what you see at a toy store. And you must
                                    | think you're in a toy store, because you're here shopping 
                                    |for an infant named Jeb.
                                    
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 3
                        
                        .accordion-panel-content.panel-1
                            .content-container
                                p Do you see any Teletubbies in here? Do you see a slender plastic tag
                                    | clipped to my shirt with my name printed on it? Do you see a 
                                    | little Asian child with a blank expression on his face sitting 
                                    | outside on a mechanical helicopter that shakes when you put quarters
                                    | in it? No? Well, that's what you see at a toy store. And you must
                                    | think you're in a toy store, because you're here shopping 
                                    |for an infant named Jeb.
                                    
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 4
                        
                        .accordion-panel-content.panel-1
                            .content-container
                                p Do you see any Teletubbies in here? Do you see a slender plastic tag
                                    | clipped to my shirt with my name printed on it? Do you see a 
                                    | little Asian child with a blank expression on his face sitting 
                                    | outside on a mechanical helicopter that shakes when you put quarters
                                    | in it? No? Well, that's what you see at a toy store. And you must
                                    | think you're in a toy store, because you're here shopping 
                                    |for an infant named Jeb.
                                    
                                    
                    .accordion
                        .accordion-header 
                            a(href='#')
                                span.icon
                                | Panel 5
                        
                        .accordion-panel-content.panel-1
                            .content-container
                                p Do you see any Teletubbies in here? Do you see a slender plastic tag
                                    | clipped to my shirt with my name printed on it? Do you see a 
                                    | little Asian child with a blank expression on his face sitting 
                                    | outside on a mechanical helicopter that shakes when you put quarters
                                    | in it? No? Well, that's what you see at a toy store. And you must
                                    | think you're in a toy store, because you're here shopping 
                                    |for an infant named Jeb.
                                    
                                    
    script(src='dist/scripts.js')
