html,
body
    min-height 100%


body
    padding-top 90px
    overflow-x hidden
    overflow-y scroll
    font-family base-font
    color grey

    +above(1200px)
        padding-top 130px


*
    box-sizing border-box;


ul,
ol
    list-style none

    li
        display inline-block


img
    max-width 100%;
    margin 0;
    vertical-align middle;


a
    text-decoration none

    &:focus,
    &:active
        outline none
        border none
        appearance none
        text-shadow none

p
    line-height 1.5

.container
    position relative
    center(1320px)
