//TYPE
arimo           = 'Arimo', sans-serif;
lato            = 'Lato', sans-serif
base-font       = arimo
secondary-font  = lato


//TYPE COLOUR
primary-font-colour = #5f6f81

//COLOURS
grey              = #888
blue              = #225378
drop-pink         = #EC4863
drop-faded-purple = #A73E5C
drop-purple       = #5C2849
drop-burnt-sienna = #B23600
drop-sienna       = #FF8A00
drop-white        = #FFFFFF


//BREAKPOINTS
mobile-portrait  =  320px
mobile-landscape =  480px
mobile-mid       =  550px
tablet-portrait  =  768px
tablet-landscape = 1024px
desktop          = 1200px
full-width       = 1440px
