icomoon-font-path ?= "fonts"

icon-arrow-left = "\e900"
icon-arrow-right = "\e901"
icon-ju = "\e902"
icon-jules = "\e903"
icon-envelope-o = "\f003"
icon-twitter = "\f099"
icon-envelope = "\f0e0"
icon-github-alt = "\f113"
icon-codepen = "\f1cb"

