@import 'base/all.styl'

.accordion
    display block
    position relative
    center(800px)

    .accordion-header
        display block
        padding 5px 0

        a
            display block
            color blue
            padding 20px 0
            font-size 28px
            border-bottom 1px solid grey

        .icon
            display inline-block
            vertical-align middle

        .icon
            rounded()
            margin-right 10px
            width 28px
            height 28px
            box-shadow 0 0 0 2px blue

            &::before,
            &::after
                content ''
                display block


    .accordion-panel-content
        display block
        width 100%
        height auto
        padding 10px 0
        transition padding 300ms ease-out, height 300ms ease-out, max-height 400ms ease-out, opacity 400ms ease-out, visibility 400ms ease-out

        &.hidden
            overflow hidden
            padding-top 0
            padding-bottom 0
            height 0
            border-width 0
            opacity 0
            visibility hidden

        &.panel-is-open
            opacity 1
