@import 'base/all.styl'

.accordion-container
    center(800px)
    // border thin solid #248a4b
    &.accordion-open
        .accordion
            opacity 0.5

.accordion
    display block
    position relative
    transition opacity 400ms ease-out, transform 400ms ease-out
    opacity 1

    &:hover
        .accordion-header
            box-shadow 1px 2px 6px 0px rgba(0,0,0, .15)

    .accordion-header
        display block
        padding 0

        a
            display block
            position relative
            color white
            padding 20px
            font-size 14px
            font-weight 900
            background-color #38cc70
            text-align center
            transition background 400ms ease-out
            box-shadow 1px 2px 6px 0px rgba(0,0,0, .15)
            transition box-shadow 400ms ease-out, transform 400ms ease-out
            transform scale(1)

            &::after
                pseudo()
                absolute bottom left
                max-width 0
                width 0
                height 3px
                background #248a4b
                transition width 400ms ease-out, max-width 400ms ease-out

            &:hover
                background-color rgba(43, 166, 89, .55)

                > .icon
                    box-shadow 0 0 0 1px rgba(255, 255, 255, .75)

                    &::before
                        opacity .75

                    &::after
                        opacity .75

            &.panel-is-open
                background-color rgba(43, 166, 89, 1)
                transform scale(1.025)

                &::after
                    width 100%
                    max-width 100%

                > .icon
                    background-color #248a4b
                    box-shadow 0 0 0 2px #248a4b
                    //box-shadow 0 0 0 1px rgba(255, 255, 255, 1)

                    &::before
                        transform rotate(180deg)
                        opacity 1

                    &::after
                        transform rotate(-180deg)
                        opacity 1

        .icon
            display inline-block
            position absolute
            top calc(50% - 14px)
            left 20px
            vertical-align middle
            rounded()
            width 28px
            height 28px
            box-shadow 0 0 0 1px rgba(255, 255, 255, .4)
            background-color transparent
            transition box-shadow 400ms ease-out, background-color 400ms ease-out

            &::before,
            &::after
                pseudo()
                position absolute
                top: 50%;
                left: calc(50% - 7px);
                width 14px
                height 1px
                background-color white
                opacity .4
                transition transform 400ms ease-out, opacity 400ms ease-out

            &::before
                transform rotate(0deg)

            &::after
                transform rotate(90deg)



    .accordion-panel-content
        display block
        position absolute
        width 100%
        height auto
        transition padding 400ms ease-out, height 400ms ease-out, max-height 400ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out
        opacity 0

        &.hidden
            padding-top 0
            padding-bottom 0
            max-height 0
            height 0
            border-width 0
            opacity 0
            visibility hidden

            .content-container
                opacity 0
                transform scale(.5) translateY(-25%)

        &.panel-is-open
            transition-delay 400ms
            position relative
            opacity 1
            visibility visible

            .content-container
                opacity 1
                transform scale(1) translateY(0)

        .content-container
            padding 10px 50px
            transition transform 500ms ease-out, opacity 400ms ease-out
